<h1>Hi there</h1>
<table>
    <tr>
        <% resources.schema.columns.forEach(column => { %>
            <td><%= column.name %> </td>
        <% }) %>
    </tr>
<% resources.forEach(resource => { %>
    <% if(resource.schema && resource.schema.columns) resource.schema.columns.forEach(column => { %>
        <div><%= `${column.name}: ${resource[column.name]}` %></div>
    <% }) %>
<% }) %>
</table>